# PCIe
# CONFIG_PCI is not set
# CONFIG_PCIEPORTBUS is not set
# CONFIG_PCIE_ROCKCHIP_HOST is not set
# CONFIG_PCIE_DW_ROCKCHIP is not set

# Ethernet PHY
# CONFIG_RK630_PHY is not set

# USB Ethernet
# CONFIG_USB_RTL8150 is not set
# CONFIG_USB_RTL8152 is not set
# CONFIG_USB_NET_DM9601 is not set
# CONFIG_USB_NET_SMSC75XX is not set
# CONFIG_USB_NET_SMSC95XX is not set
# CONFIG_USB_NET_GL620A is not set
# CONFIG_USB_NET_MCS7830 is not set
# CONFIG_USB_ALI_M5632 is not set
# CONFIG_USB_AN2720 is not set
# CONFIG_USB_EPSON2888 is not set
# CONFIG_USB_KC2190 is not set
# CONFIG_USB_NET_CX82310_ETH is not set
# CONFIG_USB_NET_INT51X1 is not set

# WiFi / LTE
# CONFIG_RTL8723CS is not set
# CONFIG_RTL8821CS is not set
# CONFIG_RTL8822BS is not set
# CONFIG_LTE is not set
# CONFIG_LTE_RM310 is not set


# Touchscreen
# CONFIG_TOUCHSCREEN_GSLX6801 is not set
# CONFIG_TOUCHSCREEN_GSLX680_PAD is not set
# CONFIG_TOUCHSCREEN_GSLX680_VR is not set
# CONFIG_TOUCHSCREEN_GSL3673 is not set
# CONFIG_TOUCHSCREEN_GSL3673_800X1280 is not set
# CONFIG_TOUCHSCREEN_GSL3676 is not set
# CONFIG_TOUCHSCREEN_HYN_CST2XX is not set
# CONFIG_TOUCHSCREEN_WACOM_W9013 is not set
# CONFIG_TOUCHSCREEN_FTS is not set
# CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5 is not set
# CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_DEVICETREE_SUPPORT is not set
# CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_I2C is not set
# CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_DEVICE_ACCESS is not set
# CONFIG_TOUCHSCREEN_CYPRESS_CYTTSP5_LOADER is not set

# Remote Control
# CONFIG_ROCKCHIP_REMOTECTL is not set
# CONFIG_ROCKCHIP_REMOTECTL_PWM is not set

# Sensors
# CONFIG_SENSOR_DEVICE is not set
# CONFIG_GSENSOR_DEVICE is not set
# CONFIG_GS_MMA8452 is not set
# CONFIG_MPU6880_ACC is not set
# CONFIG_MPU6500_ACC is not set
# CONFIG_GS_KXTJ9 is not set
# CONFIG_GS_LIS3DH is not set
# CONFIG_GS_MMA7660 is not set
# CONFIG_GS_MC3230 is not set
# CONFIG_GS_SC7660 is not set
# CONFIG_GS_SC7A20 is not set
# CONFIG_GS_SC7A30 is not set
# CONFIG_GS_MXC6655XA is not set
# CONFIG_GS_LSM303D is not set
# CONFIG_LSM330_ACC is not set
# CONFIG_BMA2XX_ACC is not set
# CONFIG_GS_DA223 is not set
# CONFIG_COMPASS_DEVICE is not set
# CONFIG_COMPASS_AK8975 is not set
# CONFIG_COMPASS_AK8963 is not set
# CONFIG_GYROSCOPE_DEVICE is not set
# CONFIG_GYRO_L3G4200D is not set
# CONFIG_GYRO_L3G20D is not set
# CONFIG_GYRO_EWTSA is not set
# CONFIG_GYRO_MPU6500 is not set
# CONFIG_GYRO_MPU6880 is not set
# CONFIG_GYRO_LSM330 is not set
# CONFIG_LIGHT_DEVICE is not set
# CONFIG_LS_CM3217 is not set
# CONFIG_LS_CM3218 is not set
# CONFIG_LS_STK3410 is not set
# CONFIG_PROXIMITY_DEVICE is not set
# CONFIG_PS_STK3410 is not set
# CONFIG_HALL_DEVICE is not set
# CONFIG_HS_MH248 is not set

# SPI
# CONFIG_SPI is not set
# CONFIG_SPI_ROCKCHIP is not set
# CONFIG_SPI_SPIDEV is not set

# Battery & Charger
# CONFIG_CHARGER_BQ25700 is not set
# CONFIG_BATTERY_CW2015 is not set
# CONFIG_BATTERY_RK818 is not set
# CONFIG_CHARGER_RK818 is not set

# Thermal / PMIC
# CONFIG_RK3368_THERMAL is not set
# CONFIG_MFD_RK618 is not set
# CONFIG_MFD_RK628 is not set
# CONFIG_MFD_RK630_I2C is not set
# CONFIG_FUSB_30X is not set

# Regulator
# CONFIG_REGULATOR_ACT8865 is not set
# CONFIG_REGULATOR_LP8752 is not set
# CONFIG_REGULATOR_MP8865 is not set
# CONFIG_REGULATOR_TPS65132 is not set
# CONFIG_REGULATOR_DIO5632 is not set

# Camera ISP
# CONFIG_VIDEO_ROCKCHIP_ISP1 is not set

# Camera Sensor
# CONFIG_VIDEO_DW9714 is not set
# CONFIG_VIDEO_VM149C is not set
# CONFIG_VIDEO_TC35874X is not set
# CONFIG_VIDEO_RK628_CSI is not set
# CONFIG_VIDEO_LT6911UXC is not set
# CONFIG_VIDEO_LT8619C is not set
# CONFIG_VIDEO_OV2680 is not set
# CONFIG_VIDEO_OV5648 is not set
# CONFIG_VIDEO_OV8858 is not set
# CONFIG_VIDEO_OV13850 is not set
# CONFIG_VIDEO_GC0312 is not set
# CONFIG_VIDEO_GC032A is not set
# CONFIG_VIDEO_GC2145 is not set
# CONFIG_VIDEO_GC2355 is not set
# CONFIG_VIDEO_GC2385 is not set
# CONFIG_VIDEO_GC4C33 is not set
# CONFIG_VIDEO_GC8034 is not set
# CONFIG_VIDEO_SGM3784 is not set

# DRM
# CONFIG_DRM_ROCKCHIP_RK618 is not set
# CONFIG_DRM_ROCKCHIP_RK628 is not set
# CONFIG_DRM_RK630_TVE is not set
# CONFIG_DRM_RK1000_TVE is not set
# CONFIG_DRM_SII902X is not set



# Audio
# CONFIG_SND_SOC_ROCKCHIP_RT5651 is not set
# CONFIG_SND_SOC_CX2072X is not set
# CONFIG_SND_SOC_ES7202 is not set
# CONFIG_SND_SOC_ES7210 is not set
# CONFIG_SND_SOC_ES7243E is not set
# CONFIG_SND_SOC_ES8311 is not set
# CONFIG_SND_SOC_ES8316 is not set
# CONFIG_SND_SOC_ES8396 is not set
# CONFIG_SND_SOC_RK3328 is not set
# CONFIG_SND_SOC_RT5640 is not set

# SoC
# CONFIG_RK3368_MBOX is not set
# CONFIG_RK3368_SCPI_PROTOCOL is not set
# CONFIG_CPU_RK3328 is not set
# CONFIG_CPU_RK3368 is not set
# CONFIG_CPU_RK3399 is not set

# Storage
# CONFIG_RK_NAND is not set